<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigateToHomePage()"></ion-back-button>
    </ion-buttons>
    <ion-title>forcast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <p>{{ Days5ForecastViewModel?.city.name }}</p>
</ion-item>

<ion-content padding>
  <ng-container *ngFor="let wInfo of Days5ForecastViewModel?.list">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-item>
            <ion-label> {{ wInfo?.dt * 1000 | date: "short" }} </ion-label>
          </ion-item>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="currentInfo">
          <p>Description: {{ (wInfo?.weather)[0].description }}</p>
          <p>Temperature: {{ wInfo?.main.temp }}</p>
          <p>humidity: {{ wInfo?.main.humidity }}</p>
          <p>pressure: {{ wInfo?.main.pressure }}</p>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
