// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html {
  width: 320px;
  height: 480px;

  ion-header {
    height: 44px;

    ion-toolbar {
      --background: var(--header-background);
      ion-title {
        color: white;
      }
    }
  }

  ion-content {
    height: 100%;
    --background: #f0efef;
    --ion-item-background: white;

    .weatherInfoGrid {
      max-width: 320px;

      ion-col {
        padding: 0px;
      }

      .weatherCard {
        margin: 0px;

        .weatherCardHeader {
          padding: 8px;

          .weatherTimeInfo {
            white-space: initial;
          }
        }

        .weatherCardContent {
          padding: 5px;
          ion-img {
            width: 70px;
            height: 50px;
          }

          .temperature {
            .minTemp {
              font-weight: bolder;
            }
          }
        }

        &.currentInfo,
        &.forecast {
          margin: 0px;
          margin-top: 5px;
        }

        &.currentInfo {
          margin-right: 2px;
          height: fit-content;
        }
      }
    }
  }

  .centerContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 5px;
  }

  .primaryColor {
    color: var(--ion-color-primary);
  }

  @media only screen and (max-width: 319px) {
    .forecasts {
      flex-direction: column;
      ion-col {
        width: 100% !important;
        max-width: 100% !important;
      }
    }
  }

  @media only screen and (min-width: 768px) and (min-height: 768px) {
    --ion-padding: 32px;
    ion-header {
      height: 56px;
    }

    ion-content {
      .weatherInfoGrid {
        max-width: 460px;
      }
    }
  }
}
