<ion-header>
  <ion-toolbar>
    <ion-title text-center> Weather forecast </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid margin no-padding>
    <ion-row align-items-stretch>
      <ion-col size="12">
        <ion-card class="CityInfo" text-center>
          <p text-center>{{ currentWeatherViewModel?.name }}</p>

          <p text-center>
            Refreshed at <ion-label> {{ refreshedAtDate }} </ion-label>
          </p>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row align-items-stretch>
      <ion-col size="6" align-self-stretch>
        <!-- Add card content here! -->
        <ion-card class="forecast">
          <p text-center>
            Current temperature: {{ currentWeatherViewModel?.main?.temp }} C
          </p>
          <p text-center>
            description:
            {{ (currentWeatherViewModel?.weather)[0]?.description }}
          </p>
          <p text-center>
            humidity: {{ currentWeatherViewModel?.main?.humidity }} %
          </p>
          <p text-center>
            pressure: {{ currentWeatherViewModel?.main?.pressure }}
          </p>
        </ion-card>
      </ion-col>

      <ion-col size="6" align-self-stretch>
        <ion-card
          class="forecast"
          tappable
          (click)="getFiveDaysForcast($event)"
        >
          <p text-center>5 days weather forecast</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-spinner color="secondary" name="lines"></ion-spinner> -->
</ion-content>
