ion-content {
  height: 100%;

  ion-grid {
    ion-row {
      &.forecasts {
        @media only screen and (max-width: 319px) {
          flex-direction: column;
          ion-col {
            width: 100% !important;
            max-width: 100% !important;
          }
        }
      }
    }
    ion-col {
      padding: 0px;
    }

    ion-card {
      height: 100%;
      margin: 0px;

      &.centerContent {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 5px;
      }

      &.cityInfo {
        color: var(--ion-color-primary);
      }

      &.currentInfo,
      &.forecast {
        margin-top: 5px;
        ion-card {
          height: auto;
          margin-bottom: 5px;
        }
      }

      &.currentInfo {
        margin-right: 2px;
      }
    }
  }
}
