<ion-header>
  <ion-toolbar>
    <ion-title text-center> Weather forecast </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="cityInfo centerContent">
          <ion-label text-center>
            {{ currentWeatherViewModel?.name }}
          </ion-label>
          <ion-label text-center>
            Refreshed at {{ refreshedAtDate }}
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row align-items-stretch class="forecasts">
      <ion-col size="6">
        <!-- Add card content here! -->
        <ion-card class="currentInfo centerContent">
          <ion-card-header>
            <ion-card-title>
              <ion-item> <p style="font-weight: 300">Today</p> </ion-item>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-label class="temperature">
              <ion-img
                src="{{
                  iconRootUrl
              }}{{currentWeatherViewModel?.weather[0].icon}}.png"
              ></ion-img>
              <p text-center class="minTemp">
                {{ currentWeatherViewModel?.main?.temp_min }} °C
              </p>

              <p text-center class="maxTemp">
                {{ currentWeatherViewModel?.main?.temp_max }} °C
              </p>
            </ion-label>
            <ion-label>
              <p text-center>
                Humidity : {{ currentWeatherViewModel?.main?.humidity }} %
              </p>
              <p text-center>
                Pressure : {{ currentWeatherViewModel?.main?.pressure }} hPa
              </p>
              <p text-center>
                Wind speed :
                {{ currentWeatherViewModel?.wind?.speed }} meter/sec
              </p>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <app-weather-forecast
          [weatherForecast]="days5ForecastViewModel?.list"
        ></app-weather-forecast>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
