<ion-header>
  <ion-toolbar>
    <ion-title text-center> Weather forecast </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content margin>
  <ion-item class="CityInfo">
    <p text-center>{{ currentWeatherViewModel.name }}</p>
    <p text-center>
      Refreshed at
      <ion-datetime
        display-format="DD.MM.YYYY  hh:mm A"
        [(ngModel)]="refreshedAtDate"
      >
      </ion-datetime>
    </p>
  </ion-item>

  <ion-item class="forcast">
    <!-- Add card content here! -->
    <div class="currentInfo">
      <p text-center>
        Current temperature: {{ currentWeatherViewModel.main.temp }} K
      </p>
      <p text-center>
        description: {{ currentWeatherViewModel.weather[0].description }}
      </p>
      <p text-center>humidity: {{ currentWeatherViewModel.main.humidity }} %</p>
      <p text-center>pressure: {{ currentWeatherViewModel.main.pressure }}</p>
    </div>
    <div tappable class="furtherWeather" (click)="getFiveDaysForcast($event)">
      <p text-center>5 days weather forcast</p>
    </div>
  </ion-item>
  <ion-spinner color="secondary" name="lines"></ion-spinner>
</ion-content>
